{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/babel",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "dependencies",
    "flowtype",
    "import",
    "prettier",
    "react",
    "react-hooks"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.89"
    },
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".android.js",
          ".ios.js",
          ".web.js",
          ".native.js"
        ]
      }
    },
    "dependencies/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      },
      "extensions": [
        ".js",
        ".android.js",
        ".ios.js",
        ".web.js",
        ".native.js"
      ]
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "error",
    "dependencies/no-cycles": "error",
    "import/no-unresolved": "error",
    "import/first": "error",
    "import/no-duplicates": "error",
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "sort-imports": [
      "warn",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "info"
        ]
      }
    ],
    "no-await-in-loop": "error",
    "curly": "error",
    "dot-notation": "error",
    "no-else-return": "error",
    "no-implicit-coercion": [
      "error",
      {
        "boolean": false
      }
    ],
    "no-return-await": "error"
  }
}
