language: node_js
node_js:
  - '10.15'
cache:
  npm: true

env:
  global:
    - REACT_ENV=development
    - REACT_APP_LOG_LEVEL=silent
    - BUNDLESIZE_GITHUB_TOKEN=63f6d1717c6652d63234cf9629977b08f4bac3fd
    #    - REACT_APP_NETWORK_ID=4447
    - MNEMONIC="myth like bonus scare over problem client lizard pioneer submit female collect"

# before_script:
#   - pushd node_modules/@gooddollar/goodcontracts
#   - npm ci
#   - npm run ganache &
#   - npm run wait
#   - npm run deploy
#   - popd

script:
  # - npm run coverage -- --silent
  # - npm run coveralls || true
  # - pkill -f ganache
  - npm run build

after_success:
  - npm run bundlesize:check

after_failure:
  - cat /home/travis/.npm/_logs/*-debug.log
