language: node_js
node_js:
  - '10.15'

addons:
  apt:
    packages:
      # Ubuntu 16+ does not install this dependency by default, so we need to install it ourselves
      - libgconf-2-4
      - jq

cache:
  npm: true
  directories:
    # we also need to cache folder with Cypress binary
    - ~/.cache

env:
  global:
    - REACT_ENV=development
    - REACT_APP_LOG_LEVEL=silent
    - BUNDLESIZE_GITHUB_TOKEN=63f6d1717c6652d63234cf9629977b08f4bac3fd
    #    - REACT_APP_NETWORK_ID=4447
    - MNEMONIC="myth like bonus scare over problem client lizard pioneer submit female collect"
    - ADMIN_MNEMONIC="they bus duty candy uncover assault bullet kitchen kit acid spin physical"
    - CI=false

matrix:
  include:
    - if: branch IN (autotests_hotfix)
      script:
        - npm run build
        - npx netlify deploy --json --site $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN > test.json
        - URL=`grep -i 'deploy_url' test.json | cut -c18-70`
        - export CYPRESS_baseUrl=$URL
        - export CYPRESS_w3Link=$W3_LINK
        - cypress run
        - npm run bundlesize:check
    - if: env(DEPLOY_VERSION) IS NOT present
      script:
        - pushd node_modules/@gooddollar/goodcontracts
        - npm ci
        - npm run ganache &
        - npm run wait
        - npm run deploy
        - popd
        - npm run coverage -- --silent
        - npm run coveralls || true
        - pkill -f ganache
    - if: env(DEPLOY_VERSION) IS present
      script:
        - npm version $DEPLOY_VERSION
        - git push https://$DEPLOY_TOKEN@github.com/$TRAVIS_REPO_SLUG $DEPLOY_FROM:$DEPLOY_TO

after_failure:
  - cat /home/travis/.npm/_logs/*-debug.log
