.react-phone-number-input {
  width: 100% !important;
  padding: 2px !important;
  border-radius: 24px;
  border: 1px solid #cbcbcb;
  flex-grow: 1;
}

.react-phone-number-input__input {
  height: 30px;
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: 'Roboto';
  text-align: left;
  color: #555555;
}

.react-phone-number-input__icon {
  border-radius: 2px;
}

.react-phone-number-input__country--native {
  margin: auto 3px;
}

.react-phone-number-input__row .react-phone-number-input__input {
  border-bottom: 0 !important;
}

.react-phone-number-input__input:-webkit-autofill {
  box-shadow: none;
}

.react-phone-number-input__error {
  text-align: right;
  font-size: 12px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
