@import url('~react-phone-number-input/style.css');

.edit_profile_phone_input .react-phone-number-input {
  width: 100% !important;
  padding: 2px !important;
  border-radius: 24px;
  border: 1px solid #EEE;
  flex-grow: 1;
}

.edit_profile_phone_input .react-phone-number-input__input {
  height: 36px;
  background: transparent;
  border-width: 0;
  font-size: 14px;
  font-family: 'Roboto';
  text-align: left;
  color: #000;
}

.edit_profile_phone_input .react-phone-number-input__input.react-phone-number-input__input--invalid {
  color: #fa6c77;
}

.edit_profile_phone_input .react-phone-number-input__icon {
  border-radius: 2px;
}

.edit_profile_phone_input .react-phone-number-input__country--native {
  margin: auto 3px;
}

.edit_profile_phone_input .react-phone-number-input__row .react-phone-number-input__input {
  border-bottom: 0 !important;
}

.edit_profile_phone_input .react-phone-number-input__input:-webkit-autofill {
  box-shadow: none;
}

.edit_profile_phone_input .react-phone-number-input.react-phone-number-input--invalid .react-phone-number-input__error,
.edit_profile_phone_input .react-phone-number-input__error {
  display: none !important;
}
