#zoom-feedback {
  /* There's no way to specify font weight on ZoomCustomization */
  font-weight: bold !important;
}

.zoom-user-helper h2 {
  /* There's no font-weight enum value corresponding to the OpenType's FW_MEDIUM */
  font-weight: 500 !important
}

#zoom-internal-loading-spinner,
#custom-activity-indicator-image {
  /* Disabling default Zoom's spinner animation to use own */
  animation: none !important;
}

#zoom-upload-progress-wrapper .loading {
  /* Changing custom upload progress image size */
  width: 192px;
  height: 192px;
}

#zoom-wrapper-container {
  /* Move frame a bit lower
   * Cant be done by UICustomization due to documentation
   * https://dev.facetec.com/#/ui-customization?link=move-facetec-frame-down
   */
  margin-top: 65px !important;
}
