#zoom-feedback {
  font-weight: bold !important;
}

.zoom-user-helper h2 {
  /* There's no font-weight enum value corresponding to the OpenType's FW_MEDIUM */
  font-weight: 500 !important
}

#zoom-internal-loading-spinner {
  /* Disabling default Zoom's spinner animation to use own */
  animation: none !important;
}
