#DOM_FT_feedbackBarElement {
  /* There's no way to specify font weight on FaceTecCustomization */
  font-weight: bold !important;
}

#DOM_FT_readyScreenSubtextContainer {
  min-height: 26px !important;
}

#DOM_FT_readyScreenHeaderElement,
#DOM_FT_retryScreenHeaderElement {
  /* There's no font-weight enum value corresponding to the OpenType's FW_MEDIUM */
  font-weight: 500 !important;
}

#DOM_FT_readyScreenSubtextElement,
#DOM_FT_retryScreenSubtextElement,
#DOM_FT_leftRetryImageSubtextElement,
#DOM_FT_rightRetryImageSubtextElement,
#DOM_FT_retryInstructionParagraphElement1 {
  /*
    it's seems customization font size for such elements
    aren't applied anymore despite they only declated as
    deprecated but not removed yet
  */
  font-size: 12px !important;
}

#DOM_FT_retryInstructionParagraphElement1 {
  color: rgb(66, 69, 74) !important;
}

#DOM_FT_overlayContainer {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
#DOM_FT_getReadyScreen h2 {
  color: rgb(66, 69, 74) !important;
}

#DOM_FT_frameOvalBackground {
  fill: white !important;
}

#DOM_FT_retryScreen {
  background-color: white !important;
}

#DOM_FT_uploadAndResultContainer {
  background: white !important;
}

#DOM_FT_getReadyScreen p {
  color: rgb(66, 69, 74) !important;
}

#DOM_FT_getReadyAndRetryScreenContainer button {
  background-color: #cbcbcb !important;
  color: white !important;
}

#DOM_FT_getReadyAndRetryScreenContainer button:hover,
#DOM_FT_getReadyAndRetryScreenContainer button:focus {
  background-color: rgb(0, 175, 255) !important;
}

#DOM_FT_ovalPathCombined {
  fill: white !important;
}

#DOM_FT_uploadAnimationContainer {
  /* Changing custom upload progress image size */
  width: 134px !important;
  height: 134px !important;
}

#DOM_FT_uploadProgressCustomImage {
  animation: none !important;
}

#DOM_FT_uploadProgressMessageElement,
#DOM_FT_successMessageText,
#DOM_FT_unsuccessMessageText {
  font-weight: 500 !important;
  position: relative;
  margin-top: 40px !important;
}

#DOM_FT_uploadAnimationContainer::before,
#DOM_FT_uploadAnimationContainer::after {
  display: inline-block;
  width: 280px;
  z-index: 999;
  position: absolute;
  left: 50%;
  margin-left: -140px;
  font-family: Roboto;
  white-space: pre-wrap;
}

#DOM_FT_uploadAnimationContainer::before {
  /* Add custom text above the progress loader */
  content: 'You need to stay on this screen\auntil the process completes.';
  color: #f8af40;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 801px) {
  #DOM_FT_uploadAnimationContainer::before {
    top: -30%;
  }
}

@media (max-width: 800px) {
  #DOM_FT_uploadAnimationContainer::before {
    top: -30%;
  }
}

#DOM_FT_uploadAnimationContainer::after {
  /* Add custom text below the progress loader */
  content: 'This may take a minute.';
  bottom: -210%;
  color: #42454a;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.08px;
}

@media screen and (max-width: 425px) {
  #DOM_FT_uploadAnimationContainer::before {
    font-size: 15px;
  }

  #DOM_FT_readyScreenHeaderElement {
    margin-top: -20px !important;
  }

  #DOM_FT_readyScreenSubtextElement {
    margin-top: -12px !important;
  }
}
