#zoom-feedback {
  /* There's no way to specify font weight on ZoomCustomization */
  font-weight: bold !important;
}

.zoom-user-helper h2 {
  /* There's no font-weight enum value corresponding to the OpenType's FW_MEDIUM */
  font-weight: 500 !important;
}

#zoom-internal-loading-spinner,
#custom-activity-indicator-image {
  /* Disabling default Zoom's spinner animation to use own */
  animation: none !important;
}

#zoom-upload-progress-wrapper .loading {
  /* Changing custom upload progress image size */
  width: 134px;
  height: 134px;
}

#zoom-upload-progress-message, #zoom-session-result-animation-success-message {
  font-weight: 500 !important;
}

#zoom-upload-progress-wrapper .loading::before,
#zoom-upload-progress-wrapper .loading::after {
  display: inline-block;
  width: 280px;
  z-index: 999;
  position: absolute;
  left: 50%;
  margin-left: -140px;
  font-family: Roboto;
}

#zoom-upload-progress-wrapper .loading::before {
  /* Add custom text above the progress loader */
  content: "You need to stay on this screen until the process completes.";
  top: -140%;
  color: #F8AF40;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

#zoom-upload-progress-wrapper .loading::after {
  /* Add custom text below the progress loader */
  content: "This may take a minute.";
  bottom: -210%;
  color: #42454A;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.08px;
}

@media screen and (max-width: 375px) {
  #zoom-upload-progress-wrapper .loading::before {
    font-size: 15px;
  }
  #zoom-upload-progress-wrapper .loading::after {
    font-size: 13px;
  }
}

  #get-ready-for-video-screen > div > div {
  /* Move the header text a bit higher to make space between oval and header text */
  margin-top: 10px !important;
}
