#zoom-feedback {
  /* There's no way to specify font weight on ZoomCustomization */
  font-weight: bold !important;
}

.zoom-user-helper h2 {
  /* There's no font-weight enum value corresponding to the OpenType's FW_MEDIUM */
  font-weight: 500 !important;
}

#zoom-internal-loading-spinner,
#custom-activity-indicator-image {
  /* Disabling default Zoom's spinner animation to use own */
  animation: none !important;
}

#zoom-upload-progress-wrapper .loading {
  /* Changing custom upload progress image size */
  width: 134px;
  height: 134px;
}

#get-ready-for-video-screen > div > div {
  margin-top: 10px !important;
}
