/* FONTS */

/* Graphie : */
@font-face {
    font-family: "Graphie-Bold";
    src: url("../assets/fonts/Graphie/Graphie-Bold.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-BoldItalic";
    src: url("../assets/fonts/Graphie/Graphie-BoldItalic.otf") format('opentype');
}

@font-face {
    font-family: "Graphie-Book";
    src: url("../assets/fonts/Graphie/Graphie-Book.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-BookItalic";
    src: url("../assets/fonts/Graphie/Graphie-BookItalic.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-ExtraBold";
    src: url("../assets/fonts/Graphie/Graphie-ExtraBold.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-ExtraBoldItalic";
    src: url("../assets/fonts/Graphie/Graphie-ExtraBoldItalic.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-ExtraLight";
    src: url("../assets/fonts/Graphie/Graphie-ExtraLight.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-ExtraLightItalic";
    src: url("../assets/fonts/Graphie/Graphie-ExtraLight.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-Italic";
    src: url("../assets/fonts/Graphie/Graphie-Italic.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-Light";
    src: url("../assets/fonts/Graphie/Graphie-Light.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-LightItalic";
    src: url("../assets/fonts/Graphie/Graphie-LightItalic.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-Regular";
    src: url("../assets/fonts/Graphie/Graphie-Regular.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-SemiBold";
    src: url("../assets/fonts/Graphie/Graphie-SemiBold.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-SemiBoldItalic";
    src: url("../assets/fonts/Graphie/Graphie-SemiBoldItalic.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-Thin";
    src: url("../assets/fonts/Graphie/Graphie-Thin.otf") format('opentype');
}
@font-face {
    font-family: "Graphie-ThinItalic";
    src: url("../assets/fonts/Graphie/Graphie-ThinItalic.otf") format('opentype');
}
