@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100vh;
  overflow: hidden;
}

body, input, textarea {
  font-family: Roboto, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

button:focus {
  outline: none !important;
}

input, input[type] {
  background-color: inherit;
}

input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 13px;
  border-radius: 13px;
  background: #202231;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #FA52A0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #FA52A0;
  cursor: pointer;
}

/* overwriting base definition for checkbox
as it interferes/overwrites with native-base Switch component
reference:
https://github.com/tailwindlabs/tailwindcss/discussions/7496
https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles
*/
@layer base {
  [type='checkbox'] {
    appearance: unset;
    padding: unset;
    -webkit-print-color-adjust: unset;
    color-adjust: unset;
    display: unset;
    vertical-align: unset;
    background-origin: unset;
    -webkit-user-select: none;
    user-select: none;
    flex-shrink: unset;
    height: unset;
    width: unset;
    color: unset;
    background-color: unset;
    border-color: unset;
    border-width: unset;
  }
  [type='checkbox']:checked {
    background-image: none
}
}
