<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.gooddollar</key>
		<string>AppStore (iOS Distribution)</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution: GoodDollar Limited</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>97K3Q6WTLM</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
