<!-- IFrame DOMContentLoaded support -->
<script type="text/javascript">
  (function () {
    var messenger = window.ReactNativeWebView || parent;

    if (!messenger || ('function' !== (typeof messenger.postMessage))) {
      return;
    }

    var documentUrl = location.href;
    var DOMReady = 'DOMContentLoaded';

    var onDOMContentLoaded = function() {
      var messagePayload = {
        event: DOMReady,
        target: 'iframe',
        src: documentUrl
      };

      messenger.postMessage(messagePayload, '*');
    }

    if (document.readyState !== 'loading') {
      onDOMContentLoaded();
      return;
    }

    window.addEventListener(DOMReady, onDOMContentLoaded);
  })();
</script>
<!-- End IFrame DOMContentLoaded support -->