@import url('~react-phone-number-input/style.css');

.signup_phone_input {
  width: 100% !important;
  border: none !important;
  border-radius: 0 !important;
}

#Phone_input:not([error]) {
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: inherit;
  height: 40px;
  padding-top: 20px;
}

#Phone_input[error] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fa6c77;
  color: #fa6c77;
  border-color: #fa6c77;
  font-size: inherit;
  height: 40px;
  padding-top: 20px;
}

.PhoneInputCountryIcon--border {
  border: 0;
  border-radius: 2px;
  width: 40px;
  box-shadow: none;
}
