#zoom-parent-container {
    margin: 0 auto;
    height: 360px; /* set an arbitrary height */

  }
  
  #zoom-video-element {
    height: inherit;
    width: inherit;
    /* REQUIRED - handle flipping of ZoOm interface.  users of selfie-style interfaces are trained to see their mirror image */
    transform: scaleX(-1);
  }
  
  #zoom-interface-container {
    position: absolute;
  }
  