html {
  height: 100%;
}
body {
  float: none !important;
  max-width: 1024px;
  margin: 0 auto !important;
  background: rgb(231, 231, 231);
  height: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Reset */
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
