html {
  height: 100%;
}
body {
  float: none !important;
  max-width: 475px;
  margin: 0 auto !important;
  background: rgb(231, 231, 231);
  height: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Reset */
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('./assets/fonts/RobotoSlab-Bold.ttf');
  src: url('./assets/fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('./assets/fonts/RobotoSlab-Regular.ttf');
  src: url('./assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf');
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf');
  src: url('./assets/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
