html {
  height: 100%;
}
body {
  float: none !important;
  max-width: 475px;
  margin: 0 auto !important;
  background: rgb(231, 231, 231);
  height: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Reset */
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('./assets/fonts/RobotoSlab-Bold.ttf');
  src: url('./assets/fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('./assets/fonts/RobotoSlab-Regular.ttf');
  src: url('./assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf');
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf');
  src: url('./assets/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gooddollar';
  src: url('./assets/fonts/gooddollar.eot');
  src: url('./assets/fonts/gooddollar.eot#iefix') format('embedded-opentype'),
       url('./assets/fonts/gooddollar.woff2') format('woff2'),
       url('./assets/fonts/gooddollar.woff') format('woff'),
       url('./assets/fonts/gooddollar.ttf') format('truetype'),
       url('./assets/fonts/gooddollar.svg#gooddollar') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'gooddollar';
    src: url('../font/gooddollar.svg?91566602#gooddollar') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'gooddollar';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-down:before { content: '\e800'; } /* '' */
.icon-arrow-up:before { content: '\e801'; } /* '' */
.icon-arrow-back:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-circle-arrow-up:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\e805'; } /* '' */
.icon-cake:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-paste:before { content: '\e80b'; } /* '' */
.icon-close:before { content: '\e80c'; } /* '' */
.icon-convert:before { content: '\e80d'; } /* '' */
.icon-backspace:before { content: '\e80e'; } /* '' */
.icon-edit:before { content: '\e80f'; } /* '' */
.icon-envelope:before { content: '\e810'; } /* '' */
.icon-faq:before { content: '\e811'; } /* '' */
.icon-feed-claim-filled:before { content: '\e812'; } /* '' */
.icon-feed-claim:before { content: '\e813'; } /* '' */
.icon-feed-donate-filled:before { content: '\e814'; } /* '' */
.icon-feed-pending-filled:before { content: '\e815'; } /* '' */
.icon-feed-donate:before { content: '\e816'; } /* '' */
.icon-feed---pending:before { content: '\e817'; } /* '' */
.icon-feed-receive-filled:before { content: '\e818'; } /* '' */
.icon-feed-receive:before { content: '\e819'; } /* '' */
.icon-feed-send:before { content: '\e81a'; } /* '' */
.icon-feed-send-filled:before { content: '\e81b'; } /* '' */
.icon-feed-social-good-filled:before { content: '\e81c'; } /* '' */
.icon-feed-social-good:before { content: '\e81d'; } /* '' */
.icon-feed-system-filled:before { content: '\e81e'; } /* '' */
.icon-feed-system:before { content: '\e81f'; } /* '' */
.icon-feedback:before { content: '\e820'; } /* '' */
.icon-filter:before { content: '\e821'; } /* '' */
.icon-link:before { content: '\e822'; } /* '' */
.icon-gooddollar:before { content: '\e823'; } /* '' */
.icon-hidden:before { content: '\e824'; } /* '' */
.icon-gooddollar-filled:before { content: '\e825'; } /* '' */
.icon-home:before { content: '\e826'; } /* '' */
.icon-invite:before { content: '\e827'; } /* '' */
.icon-location:before { content: '\e828'; } /* '' */
.icon-notifications:before { content: '\e829'; } /* '' */
.icon-phone:before { content: '\e82a'; } /* '' */
.icon-privacy:before { content: '\e82b'; } /* '' */
.icon-rewards:before { content: '\e82c'; } /* '' */
.icon-qrcode:before { content: '\e82d'; } /* '' */
.icon-search:before { content: '\e82e'; } /* '' */
.icon-settings:before { content: '\e82f'; } /* '' */
.icon-shown:before { content: '\e830'; } /* '' */
.icon-success:before { content: '\e831'; } /* '' */
.icon-trash:before { content: '\e832'; } /* '' */
.icon-profile:before { content: '\e833'; } /* '' */
.icon-username:before { content: '\e834'; } /* '' */
